[_nghost-lmd-c1] .layout-container[_ngcontent-lmd-c1] .content[_ngcontent-lmd-c1] .columns[_ngcontent-lmd-c1] nb-layout-column {
  order: 1 !important;
  flex: 1 0 !important;
  min-width: 0 !important;
  margin: auto 119px !important;
}
